@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


body {
    font-family: "Open Sans";
    position: relative;
}

header {
    margin: 0 auto;

    .navbar {
        .logo-img {
            padding-left: 22px;
        }

        max-width: 1273px;
        padding: 17px 0px 10px 0px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;


        ul {
            display: flex;
            align-items: center;
            column-gap: 35px;
            cursor: pointer;

            li {
                display: flex;
                align-items: center;
                column-gap: 6px;
            }
        }

        .menu {
            cursor: pointer;
            margin-right: 22px;
            width: 26px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 6px;

            div {
                width: 26px;
                height: 2px;
                background-color: black;
            }
        }
    }

    .header-background {
        margin: 0 auto;

        width: 100%;
        height: 657px;
        background-image: url("https://podrobno.uz/upload/iblock/6f4/20210607_191305.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;


        .header-background-content {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;

            h1 {
                color: #FFF;
                font-size: 96px;
                font-weight: 700;
            }

            p {
                font-family: Open Sans;
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
                text-align: center;
                color: white;

            }
        }
    }
}   

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .we_about {
        margin: 0 auto;
        max-width: 1273px;
        height: 500px;
        margin-top: 74px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;

        .info {
            width: 50%;
            height: 100%;
            background-color: white;

            h2 {
                font-family: "Playfair Display SC";
                font-size: 35px;
                font-weight: 400;
                line-height: 46.66px;
                text-align: left;
                padding-top: 71px;
                color: rgba(128, 128, 128, 1);


            }

            p {
                margin-top: 27px;
                max-width: 572px;
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 400;
                line-height: 32px;
                text-align: left;

            }

            h3 {
                font-family: "Playfair Display SC";
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                text-align: left;
                margin-top: 24px;

                color: rgba(128, 128, 128, 1);


            }

        }

        .foto {
            width: 50%;
            height: 100%;
            background-image: url("../img/Rectangle\ 40.svg");
            background-repeat: no-repeat;
            background-position: center;

            img {
                width: 100%;
                height: 100%;
            }


        }


    }

    .for_example_house {
        margin: 0 auto;
        max-width: 1273px;
        margin-top: 74px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;

        h3 {
            font-family: "Playfair Display SC";
            font-size: 35px;
            font-weight: 400;
            line-height: 46.66px;
            text-align: center;
            color: rgba(128, 128, 128, 1);



        }

        p {
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            text-align: center;
            padding-top: 24px;
            color: rgba(0, 0, 0, 1);
            max-width: 530px;
            padding-bottom: 27px;

        }

        .for_example_foto {
            display: flex;
            width: 100%;
            margin-bottom: 50px;
            gap: 20px;

            .price {
                width: calc(100% - 30px);
                background-color: white;
                border: 1px double black;
                border-radius: 2px;
                display: flex;
                flex-direction: column;
                box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.3);
                padding-bottom: 10px;
                align-items: center;


                b {
                    font-family: "Open Sans";
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 28px;
                    text-align: center;
                    margin-top: 9px;
                    text-align: center;
                }

                p {
                    font-family: "Playfair Display SC";
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 28px;
                    text-align: center;
                    margin: 0 auto;
                    padding: 0;


                }

                strong {
                    font-family: "Open Sans";
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 23px;
                    text-align: center;
                    color: black;
                    padding-top: 11px;


                }

                .house_info {
                    max-width: 317px;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 10px;
                    column-gap: 20px;
                    margin-top: 13px;
                    text-align: center;


                    p {
                        font-family: "Open Sans";
                        font-size: 18px;
                        color: rgba(96, 96, 96, 1);

                        font-weight: 400;
                        line-height: 23px;
                        text-align: center;

                    }

                }


            }


            .foto_left {
                max-width: 392px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                }

                .price {
                    width: calc(100% - 30px);
                    background-color: white;
                    border: 1px double black;
                    border-radius: 2px;
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.3);
                    padding-bottom: 10px;


                    b {
                        font-family: "Open Sans";
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 28px;
                        text-align: center;
                        margin-top: 9px;
                    }

                    p {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 28px;
                        text-align: center;
                        margin: 0;
                        padding: 0;

                    }

                    strong {
                        font-family: Open Sans;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 23px;
                        text-align: center;
                        color: black;
                        padding-top: 11px;

                    }

                    .house_info {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 10px;
                        column-gap: 20px;
                        margin-top: 13px;

                        p {
                            font-family: "Open Sans";
                            font-size: 18px;
                            color: rgba(96, 96, 96, 1);

                            font-weight: 400;
                            line-height: 23px;
                            text-align: center;

                        }

                    }


                }

            }

            .foto_right {
                max-width: 808px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .foto_right_top {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .price {
                        height: 190px;
                        padding: 0 15px;
                    }

                    img {
                        margin: 0;
                        padding: 0;
                        width: 100%;
                    }
                }

                .foto_right_bottom {
                    display: flex;

                    .bottom_first,
                    .bottom_second {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .price {
                            margin-left: 0;
                        }

                    }

                }
            }


        }


    }

    button {
        margin: 0 auto;
        max-width: 282px;
        width: 100%;
        height: 56px;
        background: rgba(128, 128, 128, 1);
        border: 1px solid rgba(128, 128, 128, 1);
        border-radius: 4px;
        font-family: "Playfair Display SC";
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.2em;
        text-align: center;
        color: white;
        margin-bottom: 50px;



    }
}

footer {
    background: #808080;
    height: 245px;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-content {
        max-width: 470px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 23px;

        .footer-content-img {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            div {
                margin-top: 20px;

                display: flex;
                justify-content: center;
                column-gap: 22px;
            }
        }

        p {
            color: #FFF;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.madol {
    max-width: calc(328px - 39px);
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 39px;
    box-shadow: 0px 0px 70px 5px rgba(0, 0, 0, 0.35);


    svg {
        margin-top: 31px;
    }

    a {
        text-decoration: none;
        color: black;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 400;
        line-height: 21.79px;
        text-align: left;
        padding: 5px;

    }

    div {
        width: 100%;
        height: 1px;
        background-color: black;
        margin: 15px 0;
    }

    h4 {
        font-family: "Playfair Display SC";
        font-size: 20px;
        font-weight: 400;
        line-height: 26.66px;
        text-align: center;
        margin-bottom: 47px;
        padding-top: 54px;
        max-width: 227px;

    }

    display: none;
}

.active {
    display: block;

}



@media (max-width:1162px) {
    main {
        .main-cards {
            justify-content: center;
            gap: 50px;
        }
    }


}

@media (max-width:900px) {
    header {
        .navbar {
            .logo-img {
                img {

                    width: 170px;
                }
            }

            ul {
                li {
                    display: none;
                }
            }
        }

    }

}

@media(max-width: 681px) {
    header {
        .navbar {
            ul {
                display: none;
            }
        }

        .header-background {
            .header-background-content {
                h1 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }
        }
    }

    main {
        .main-cards {
            justify-content: center;
            align-items: center;
        }
    }

    footer {
        .footer-content {
            p {
                text-align: center;
            }
        }
    }
}